.page {
  font-size: 12px;
  margin: 20px;
  margin-left: 15px;
  color: #333;
  height: 30px;
}
.page .first,
.page .prv,
.page .next,
.page .last {
  transition: all 0.2s linear;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #d9d9d9;
  line-height: 28px;
  background: #FAF1E8;
  margin-right: 10px;
  cursor: pointer;
}
.page .pageul li {
  float: left;
}
.page .pageul li a,
.page .pageul li span {
  display: inline-block;
  transition: all 0.2s linear;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #d9d9d9;
  line-height: 28px;
  background: #FAF1E8;
  margin-right: 10px;
  color: #333;
}
.page .pageul li .on {
  background: #000;
  color: #FFF;
}
.page .pageul li a:hover {
  background: #000;
  color: #FFF;
}
.page .first:hover,
.page .prv:hover,
.page .next:hover,
.page .last:hover,
.page .page-number button:hover {
  background: #333;
  color: #FFF;
}
.page .page-number .enter {
  padding: 0 10px;
  height: 28px;
  border: 1px solid #d9d9d9;
  line-height: 28px;
  background: #FAF1E8;
  margin-right: 10px;
}
.page .page-number .enter input {
  border: 1px solid #ccc;
  width: 35px;
  font-size: 12px;
  padding: 2px 0;
  vertical-align: middle;
  text-align: center;
}
.page .page-number button {
  transition: all 0.2s linear;
  padding: 0 10px;
  height: 28px;
  border: 1px solid #d9d9d9;
  line-height: 28px;
  background: #FAF1E8;
  margin-right: 10px;
  cursor: pointer;
  box-sizing: content-box;
}
#sitemap {
  padding: 8px 0;
  font-size: 0;
}
#sitemap h3 {
  line-height: 30px;
  font-size: 14px;
}
#sitemap h3 a {
  transition: color 0.2s linear;
}
#sitemap h3 a:hover {
  color: #FF5050;
}
#lanmujieshao {
  font-size: 14px;
  color: #333;
}
#lanmujieshao .tit {
  padding: 8px 0;
}
.content {
  border: 1px solid #C7BDB1;
  margin: 20px auto;
  text-align: center;
  background: #FAF1E8;
  height: 100%;
}
.content .list ul li {
  overflow: hidden;
  text-align: left;
  padding: 15px;
  border-bottom: 1px dashed #C8C4AA;
}
.content .list ul li img {
  float: left;
  width: 128px;
  height: 86px;
  margin-right: 15px;
}
.content .list ul li h3 {
  font-size: 16px;
  margin-bottom: 6px;
  font-family: "Microsoft YaHei";
}
.content .list ul li h3 strong {
  font-weight: bold;
}
.content .list ul li h3 strong a {
  color: #2D2D2D;
}
.content .list ul li h3 strong a:hover {
  text-decoration: underline;
}
.content .list ul li p {
  font-size: 14px;
  line-height: 24px;
  color: #808080;
}
.content .list ul li p a {
  color: #F31F09;
}
